@use '../../colors' as *;

.backBtn {
	display: inline-block;
    align-self: flex-end;
	padding: 1em 2em;
	border-radius: 12px;
	border: 1px solid transparent;
	width: 100%;
	text-align: center;
	margin: 0.5em 0;
	background-color: $primary;
	transition: background-color 0.3s, border-color 0.3s;
	&:hover {
		background-color: $bgc;
		border-color: $primary;
	}
}

@media (min-width: 576px) {
	.backBtn {
		width: auto;
	}
}