@use '../../colors' as *;

.calculatorLayout {
    position: relative;
    max-width: 1200px;
    background-color: $bgc;
    border: 1px solid #ffffff2e;
    border-radius: 12px;
    padding: 2em 1em;
    backdrop-filter: blur(8px);
}

@media (min-width: 414px) {
    .calculatorLayout {
        padding: 2em 2em;
    }
}
@media (min-width: 576px) {
    .calculatorLayout {
        padding: 2em 3em;
    }
}